# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment
.env

# Large/raw data
data/raw/*
!data/raw/.gitkeep

data/external/*
!data/external/.gitkeep

# OS files
.DS_Store
Thumbs.db